body{
  font-family: arial, sans-serif;
  margin: 0;
}
.center {
  text-align: -webkit-center;
}
div {
  display: block;
}

#formbox {
  width: 484px;
  height: 44px;
  display: flex;
  backgound: #fff;
  z-index: 3;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  border-radius: 2px;
  text-align: center;
}
#spacer {
  width: 437px;
  height: 5px;
}
#forms {
  flex: 1;
  display: flex;
  padding-right: 24px;
  padding-top: 5px;
  padding-left: 16px;
}
.logo{
  padding-top: 109px;
}
.bar{
  width: 420px;
  height: 34px;
  text-indent: 0px;
  font-size: 12pt;
  z-index: 10;
  border: none;
}
#voice {
  padding: 5px 8px;
  flex: 1 0 auto;
  cursor: pointer;
}
#buttons {
  width: 487px;
  height: 58px;
  padding-top: 18px;
  margin: auto;
}
#first, #second{
  display: inline-block;
}
.search {
  background: #f2f2f2;
  color: #757575;
  font-family: arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  width: 125.75px;
  height: 36px;
  margin: 11px 4px;
  padding: 0 16px;
}
.lucky {
  background: #f2f2f2;
  color: #757575;
  font-family: arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  width: 142.58px;
  height: 36px;
  margin: 11px 4px;
  padding: 0 16px;
}
#navbar {
  padding: 0 10px;
  height: 30px;
}
.fbar {
  border-top: 1px solid #e4e4e4;
  margin: 5px 0 0 0;
  height: 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
#bottom {
  bottom: 0;
  padding: 0 10px;
  height: 40px;
  background-color: #f2f2f2;
  margin: 0;
}
.left {
  display: inline-block;
  color: #000;
  opacity: 0.75;
  font-size: 13px;
  padding: 0.5em 0 0.5em 15px;
}
.fleft {
  display: inline-block;
  color: #5f6368;
  font-size: 13px;
  padding: 1em 0 1em 27px;
}
.nrights{
  float: right;
  display: inline-block;
  color: #000;
  opacity: 0.75;
  font-size: 13px;
  padding: 0.5em 0 0.5em 15px;
}
.frights{
  float: right;
  display: inline-block;
  color: #5f6368;
  font-size: 13px;
  padding: 1em 0 1em 27px;
}
.lastrights{
  float: right;
  display: inline-block;
  color: #5f6368;
  font-size: 13px;
  padding: 1em 27px 1em 27px;
}
#navbar .rights {
  float: right;
  display: inline-block;
  padding: 0 0 0 15px;
}
#navbar .rights .bell {
  float: right;
  display: inline-block;
  color: #000;
  opacity: 0.75;
  font-size: 13px;
  padding: 3px 0 0 0;
}
#navbar .rights .squares {
  float: right;
  display: inline-block;
  color: #000;
  opacity: 0.75;
  font-size: 13px;
}
.circle {
  border-radius: 50%;
}
.profile {
  padding: 0 15px 0 0;
}
a{
  text-decoration: none;
  cursor: pointer;
  color: #000;
}
